
.container{
  width : 80% ;
}
.container p {
  display: flex ;  
}
.container p * {
  display : flex-item ;
  width : 20px ;
  flex-grow : 1 ;
  
  margin-right: 10px ;
  margin-left: 10px ;
 
}

.container p label {
  
  text-align : right ; 
}
.container p input { 

}
.information
{
	display:flex;
	 justify-content:space-between;

}
.estia	

{

	display:flex;
	justify-content:flex-end;
	justify-content:space-between;
		}
.reseau
		{
			
			border: 1px solid black;
			display:inline-flex;
		    justify-content:right;		    	
			justify-content:space-between;
			
		}
		.bde
				{
					display:flex;	
			justify-content:left;
			
			
			
			
		}
		.reseausociaux
		{
			display:block;
			justify-content:space-between;
			
		}
			.panier,p
	{
	
		display:inline-block;
		text-align:right;	
		margin:0 auto;
		
		
				}
				.panier
				{
				display:block;	
				margin-right:115px;				
			}
			.text
			{
				display:inline-flex;
				border: 1px solid black;
				text-align: right;
			
				
			}
			.recherche
			{
				display:block;
			}
			.video
			{
				width:80%;
				height:80%;
				justify-content:left;	
			}
			.coordo
{
	display:flex;
	justify-content:space-between;
}
table
{
	
	top:200px;
	margin:0px;
 border-collapse: collapse; 
 
}
td
{
    border: 2px solid black;
	 font-size:20px;
}
.groupe{
	display:flex;
}
h1
{
	text-align:center;
}
